@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	font-size: 6vw;
	text-align: center;
}

.bar {
	height: 12vh;
}
.work {
	grid-column: 1 / 2;
	text-align: center;
}
.contact {
	grid-column: 2 / 3;
	text-align: center;
}
.header {
	grid-column: 4 / 5;
	text-align: right;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 3fr  1fr 1fr 1fr;
	grid-gap: 0px;
	padding-top: 16px;
	text-align: center;
	position: fixed;
	top: 0;
	margin-top: 0px;
	background-color: #FFFFFF;
	font-size: 1.5vw;
	width:100%;
}

.nav a{
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 1vw solid #FFFFFF;
	color: #2f5245;
	transition: all 0.3s linear;  
	background-color: #ffffff;
	font-size: 1.5vw;
}

.nav a:hover{
	background-color: #ffffff;
	color: #233d34a2;
	cursor: pointer;
}

a:link, a:visited {
    color: #2f5245;
    text-decoration: none;
	list-style: none;
}

.title{
	grid-area: title;
	color: #2f5245;
	background-color: #ffffff;
	text-align: right;
	font-size: 2vw;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0vw;
	letter-spacing: 2px;
}

.tagline {
	grid-area: tagline;
	text-align: right;
	font-size: 1.5vw;
	color: #000000;
	background-color: #ffffff;
	font-weight: lighter;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0vw;
	letter-spacing: 2px;

}

img {  
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	width: 70%;  
	height: auto; 
}  

.screen {
	height: 100%;
}

.footer {
	display: grid;
	grid-template-areas:'email phone';
	grid-gap: 0px;
	padding: 0px;
	text-align: center;
	position: static;
	margin-top: 0px;
	width: fit-content;
	background-color: #FFFFFF;
	font-size: medium;

}
.footer a{
	text-align: center;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 10px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;  
	background-color: #2f5245;
}


.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 700px) {

.title {
	font-size: 3vw;
}
.tagline {
	font-size: 3vw;
}
.nav a{
	font-size: 3vw;
}


}

/* Small Tablets */
@media (min-width: 600px)and (max-width: 800px) {
}