@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	font-size: 6vw;
	text-align: center;
}


.bar {
	height: 100px;
}
.nav {
	display: grid;
	grid-template-areas:'home work contact header';
	grid-gap: 0px;
	padding: 0px;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 0px;
	width: fit-content;
	background-color: #FFFFFF;
	font-size: medium;
}

.nav a{
	text-align: center;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 1vw solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;  
	background-color: #2f5245;
	font-size: 2vw;
}

.nav a:hover{
	background-color: rgb(255, 255, 255);
	color: #2f5245;
	cursor: pointer;
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	list-style: none;
}

.header {
	grid-area: header;
	background-color: #ffffff;
}

.title{
	grid-area: title;
	color: #2f5245;
	background-color: #ffffff;
	text-align: right;
	font-size: 2vw;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 10px;
	letter-spacing: 2px;
}

.tagline {
	grid-area: tagline;
	text-align: right;
	font-size: 2vw;
	color: #000000;
	background-color: #ffffff;
	font-weight: lighter;
	margin-right: 5px;

}

img {  
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	width: 80%;  
	height: auto; 
}  

.screen {
	height: 100%;
}

.footer {
	display: grid;
	grid-template-areas:'email phone';
	grid-gap: 0px;
	padding: 0px;
	text-align: center;
	position: static;
	
	margin-top: 0px;
	width: fit-content;
	background-color: #FFFFFF;
	font-size: medium;

}
.footer a{
	text-align: center;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 10px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;  
	background-color: #2f5245;
}


.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 600px) {

.title {
	font-size: 4vw;
	text-align: center;
}
.tagline {
	font-size: 4vw;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 600px)and (max-width: 800px) {

